.youtube-marker:hover {
  cursor: pointer;
  text-decoration: underline;
}

.youtube-marker-current {
  background: mediumpurple;
}

.cover-sub {
  color: #eeeeee;
}

.iframe {
  display: table-cell;
  vertical-align: middle;
}

.center {
  display: table-cell;
  vertical-align: middle;
}