

.youtube-marker:hover {
  cursor: pointer;
  text-decoration: line-through;
  background: yellow;
}

.youtube-marker-current {
  background: pink;
}

h1 {
  color: green;
}

.cover-subtitles{
  background: rgba(126, 126, 126, 0.4);
}