@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch&display=swap');


.navbar-custom {
    background-color: #eeeeee;
}

/* Modify brand and text color */
.nav-link, .navbar-brand {
	color: black;
    font-family: 'Chakra Petch', sans-serif;
    font-size: 28px;

}

body {
    background: #ffc0cb
            /*radial-gradient(circle farthest-corner at left, pink, lightpink);*/
    /*height: 100%;*/
    /*margin: 0;*/
}

/*.footer {*/
/*    position: fixed;*/
/*    bottom: 0;*/
/*    background-color: #eeeeee;*/
/*    width: 100%;*/
/*    text-align: center;*/
/*    height: 35px;*/
/*    font-family: 'Chakra Petch', sans-serif;*/
/*}*/

footer {
    display: block;
}

.footer {
    border-top: 0.1rem;
    padding: 3rem 0;
    background-color: #eeeeee;
    font-family: 'Chakra Petch', sans-serif;
}

.outer {
    width: 100%;
    padding-right: 1.5rem;
    padding-left: 1.5rem;
    margin: auto;
}

*, *::before, *::after {
    box-sizing: border-box;
}

.float-right {
    float: right !important;
}


/*.navbar-brand {*/
/*    font-family: 'Chakra Petch', sans-serif;*/
/*    font-size: 28px;*/

/*}*/

/*.nav-link {*/
/*    font-family: 'Chakra Petch', sans-serif;*/
/*    font-size: 28px;*/

/*}*/

.ui-autocomplete {
    max-height: 150px;
    overflow: auto;
    overflow-x: hidden;
}

.list-inline {
    position: relative;
    margin: 0 -0.75rem;
}

