{% extends 'base.html' %}
{% block title %}
    About...
{% endblock title %}
{% block content %}
{% load static %}

<div class="row mb-5">
    <div class="col-md-1 col-xl-2">
    </div>
    <div class="col-md-10 col-xl-8 text-center">
        <img src="{% static "img/Example (5).gif" %}" class="img-fluid" style="width: 65%">
    </div>
    <div class="col-md-1 col-xl-2">
    </div>
</div>

<footer class="footer py-1">
        <span>© 2021 like.com </span>
        <div class="text-right">
            <i class="far fa-chart-bar" ></i> <span>{{ visitor }}</span>
            <i class="far fa-heart" ></i> <span class="like_total" id="like_total">{{ like_count }}</span>
        </div>
</footer>


{% endblock %}