{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>

    <script defer src="https://use.fontawesome.com/releases/v5.0.10/js/all.js" integrity="sha384-slN8GvtUJGnv6ca26v8EzVaR9DC58QEwsIk9q1QXdCU8Yu8ck/tL/5szYlBbqmS+" crossorigin="anonymous"></script>
{#    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>#}
    <script src="https://code.jquery.com/jquery-3.6.0.js"></script>


    <link rel="shortcut icon" href="{% static "img/icon_kiki.ico" %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'css/navbar.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/form.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/collect.css' %}">
    <meta name="google-site-verification" content="PUAxfvlnoHhZs0J0NYbZUbMD6cHkAo_-2lIjpuhSM5g" />

    <title>
        {% block title %}
        {% endblock title %}
    </title>
    <script>
        let tag_pink = "{% static "img/tag_pink.svg" %}"
        let tag_svg = "{% static "img/tag.svg" %}"
        let clicks = 0;
        let like_count = 0

        $(document).ready(function (){
            let like_count = document.getElementById("like_total").innerText;

            $('.for_test').text(like_count);
        });

        $(document).ready(function () {
            $('.btn-link').click(function () {
                let like_count = document.getElementById("like_total").innerText;

                if (clicks == 0) {
                    $("#like-tag").attr("src", tag_pink);
                    clicks++;
                    let c = parseInt(like_count) + 1;
                    $('.like_total').text(c);
                } else {
                    $("#like-tag").attr("src", tag_svg);
                    clicks--;
                    let c = parseInt(like_count) - 1;
                    $('.like_total').text(c);
                }
            let likes = document.getElementById("like_total").innerText;
            $.ajax({
                type:"POST",
                data:{likes:likes},
                headers: { "X-CSRFToken": '{{csrf_token}}' },
                });
            });
        })
    </script>

</head>
<body>
    <nav class="navbar navbar-expand-md navbar-custom">
      <a class="navbar-brand" href="/">Like...</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"><i class="fas fa-bars" style="color:black; font-size:28px;"></i></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarsExampleDefault">
            <ul class="navbar-nav mr-auto">
              <li class="nav-item active">
                <a class="nav-link" href="/about">About <span class="sr-only">(current)</span></a>
              </li>
              <li class="nav-item active">
                <a class="nav-link" href="/collect">Collect <span class="sr-only">(current)</span></a>
              </li>
            </ul>
      </div>
      <button type="button" id="like_tag" class="btn btn-link"><img src="{% static "img/tag.svg" %}" id="like-tag" style="width:40px;height:50px" title="nice job!"></button>

    </nav>
    {% block content %}
    {% endblock %}
</body>
</html>
