{% extends 'base.html' %}
{% block title %}
    My collect...
{% endblock title %}
{% block content %}
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'css/collect.css' %}">


<div class="row mt-5 mx-2" id="collect">
    <div class="col-md-4 col-12">
        <a href="/1"><img src="{% static "img/runbts_1.png" %}" style="width:100%"/></a>
        <p style="text-align:center">example 1. Run BTS</p>
    </div>

    <div class="col-md-4 col-12">
        <a href="/2"><img src="{% static "img/runbts_2.png" %}" style="width:100%"/></a>
        <p style="text-align:center">example 2. Run BTS</p>
    </div>

    <div class="col-md-4 col-12">
        <a href="/3"><img src="{% static "img/mino.png" %}" style="width:100%"/></a>
        <p style="text-align:center">example 3. MINO's Pilot</p>
    </div>
</div>


<div>
    <div style="height: 60px;"></div>

    <footer class="footer py-1">
    <span>© 2021 like.com </span>
    <div class="text-right">
        <i class="far fa-chart-bar" ></i> <span>{{ visitor }}</span>
        <i class="far fa-heart" ></i> <span class="like_total" id="like_total">{{ like_count }}</span>
    </div>
    </footer>
</div>






{% endblock %}