{% extends 'base.html' %}
{% block content %}

<div class="container">
    <br>
    <br>
    <div class="row">
        <div class="col-2" ></div>
        <div class="col-8 bg-light border">
            <div class="text-center">
                {{ notice }}
                <form method="POST">
                {% csrf_token %}
                <label for="link">Link:</label>
                <input class="form-control input-lg" id="link" type="url" name="link" required>
                <br>
                <button type="submit">送出</button>
                </form>
            </div>
        </div>
        <div class="col-2">                     </div>
    </div>
    <br>
    <div class="row">
        <div class="col-2"></div>
        <div class="col-9">
           <i class="fas fa-flag-checkered"></i>&nbsp<p>僅限Youtube有中文及英文雙字幕。</p>
            <p>Youtube連結格式必須為：https://www.youtube.com/watch?v=HMJiX77z4AU&t=851s&ab_channel=ITZY</p>
        </div>
        <div class="col-1"></div>
    </div>
</div>

{% endblock %}