{% extends 'base.html' %}
{% block title %}
     Youtube雙字幕
{% endblock title %}
{% block content %}
{% load static %}

<script>
    $("#tags").autocomplete({
        minLength:10
    });
</script>

<div class="wrapper">
    <div class="form-body mt-5 mr-1 ml-5">
           <div class="row d-flex justify-content-center align-items-center">
                <div class="col-12 col-md-8 ">
                    <div class="form-content">
                        <div class="form-items">
                            <h3>Youtube中英雙字幕</h3>
                            <p>Fill in the link below.</p>
                            <form method="POST">
                            {% csrf_token %}
                                <div class="col-md-12">
                                   <input id="tags" class="form-control" type="text" name="link" placeholder="Link"  autocomplete="on">
                                   <div class="valid-feedback">Username field is valid!</div>
                                   <div class="invalid-feedback">Username field cannot be blank!</div>
                                </div>

                               <div class="col-md-12 mt-3">
                                <p><i class="fas fa-flag-checkered"></i>&nbsp僅限Youtube有中文及英文雙字幕。</p>
                               </div>

                               <div class="form-button mt-3">
                                <button name="send_url" type="submit" class="btn btn-primary">Send</button>
                               </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
    </div>


    <footer class="footer py-1">
    <span>© 2021 like.com </span>
    <div class="text-right">
        <i class="far fa-chart-bar" ></i> <span>{{ visitor }}</span>
        <i class="far fa-heart" ></i> <span class="like_total" id="like_total">{{ like_count }}</span>
    </div>
    </footer>



</div>
{% endblock %}

