{% extends 'base.html' %}
{% block title %}
    Like...
{% endblock title %}
{% block content %}
{% load static %}


<div class="form-body">
        <div class="row">
            <div class="form-holder">
                <div class="form-content">
                    <div class="form-items">
                        <h3>Youtube Link</h3>
                        <p>Fill in the link below.</p>
                        <form class="requires-validation" novalidate>

                            <div class="col-md-12 mb-3">

                                   <input class="form-control" type="text" name="link" placeholder="Link" required>
                                   <div class="valid-feedback">Username field is valid!</div>
                                   <div class="invalid-feedback">Username field cannot be blank!</div>

                            </div>
{#                            <div class="col-md-12">#}
{#                               <p>僅限Youtube有中文及英文雙字幕。</p>#}
{#                               <p>Youtube連結格式必須為：https://www.youtube.com/watch?v=HMJiX77z4AU&t=851s&ab_channel=ITZY</p>#}
{#                            </div>#}


                            <div class="form-button mt-3">
                                <button id="submit" type="submit" class="btn btn-primary">Submit</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container">

</div>

{% endblock %}

