{% extends 'base.html' %}
{% block title %}
    {{ video_collect.video_title }}
{% endblock title %}
{% block content %}
{% load static %}
{% load custom_tags %}


    <div class="container">
        <br>
        <div class="row mb-5">
            <div class="col-1"></div>
            <div class="col-10" align="center">
                <div id="player"></div>
                <link rel="stylesheet" type="text/css" href="{% static 'css/marker2.css' %}">
                <div id="youtube-transcript-#1" class="youtube-transcript">
                    <span class="youtube-marker" id="sub-en" style="background-color:gray;color:gray">Ready~</span><br>
                    <span id="sub-ch">Ready~</span>
                    <script>
                        alert("雙字幕同步率為{{ video_collect.rate }}%");
                        var subtitles = {{ video_collect.json_dual|safe }};
                        function UnescapeHTML(a) {
                            a = "" + a;
                            return a.replace(/&#39;/g, "'").replace(/&quot;/g, "\"").replace(/&amp;/g, "&");
                        }

                        var tag = document.createElement('script');
                        tag.src = "https://www.youtube.com/iframe_api";
                        var firstScriptTag = document.getElementsByTagName('script')[0];
                        firstScriptTag.parentNode.insertBefore(tag, firstScriptTag);

                        var player;
                        var video_id = `{{ video_collect.video_id }}`;
                          function onYouTubeIframeAPIReady() {
                            player = new YT.Player('player', {
                              height: '390',
                              width: '640',
                              videoId: video_id,
                              playerVars: {
                                'playsinline': 1
                              },
                              events: {
                                'onReady': onPlayerReady,
                                'onStateChange': onPlayerStateChange
                              }
                            });
                          }

                          // 4. The API will call this function when the video player is ready.
                          function onPlayerReady(event) {
                            event.target.mute().playVideo();
                          }

                          var done = false;
                          function onPlayerStateChange(event) {
                          var Update;
                          if (event.data == YT.PlayerState.PLAYING) {
                            Update = setInterval(function() {
                              ShowSubtitles()
                            }, 100);
                          } else {
                            clearInterval(Update);
                          };
                          console.log(event.data)
                        }

                        function ShowSubtitles() {
                              var current_time = player.getCurrentTime();
                              console.log(current_time);
                              subtitles.forEach(function(subtitle, i) {

                                if (current_time >= subtitle.start && current_time <= subtitle.end) {
                                  document.getElementById("sub-ch").textContent=UnescapeHTML(subtitle.text_ch);
                                  document.getElementById("sub-en").textContent=UnescapeHTML(subtitle.text_en);
                                }
                              });
                            };

                        $("span").text()

                        $(document).ready(function(event) {
                                $("#sub-en").mouseenter(function () {
                                $("#sub-en").css({"background":"", "color":""});
                                player.pauseVideo();
                                })
                                $("#sub-en").mouseleave(function() {
                                $("#sub-en").css({"background":"gray", "color":"gray"});
                                player.playVideo();
                                })
                            });

                        $("#player").css("text-align", "center");
                    </script>
                </div>
            </div>
            <div class="col-1"></div>
        </div>

        <div class="text-center">
            <a href="/"><button class="btn btn-light" type="button" style="font-family:'Chakra Petch', sans-serif" >Another Video~<i class="fas fa-plane"></i></button></a>
        </div>


    </div>

    <div>
    <div style="height: 60px;"></div>

    <footer class="footer py-1">
    <span>© 2021 like.com </span>
    <div class="text-right">
        <i class="far fa-chart-bar" ></i> <span>{{ visitor }}</span>
        <i class="far fa-heart" ></i> <span class="like_total" id="like_total">{{ likes_total }}</span>
    </div>
    </footer>
    </div>

    {% endblock %}